<%
var publishTimestamp = page.date.valueOf();
var upPublishTimestamp = page.updated.valueOf();
var author = page.author || config.author || 'admin';
var page_url = page.permalink;
var iscopyright = page.iscopyright || false;
%>
    <%- partial('_widget/google-adscene') %>

        <div class="post-container container">
            <h3>
                <i class="fa fa-user-o"></i>
                <%= author %>

                    <span class="post-date float-right" title="Create: {{moment(<%= publishTimestamp %>).format('MMM DD, YYYY, h:mm:ss A')}}">
                   <i class="fa fa-pencil-square-o"></i>
                    Create: {{moment(<%= publishTimestamp %>).fromNow()}}&nbsp;&nbsp;&nbsp;&nbsp;
                </span>

                    <span class="post-updated float-right" title="Update: {{moment(<%= upPublishTimestamp %>).format('MMMM Do YYYY, h:mm:ss a')}}">
                    <i class="fa fa-pencil-square-1"></i>
                    Updated: {{moment(<%= upPublishTimestamp %>).fromNow()}}&nbsp;&nbsp;&nbsp;&nbsp;
                </span>

            </h3>

            <article class="post-content">
                <h1>
                    <%= page.title || 'Untitle' %>
                </h1>
                <%- page.content %>

                    <br>
                    <HR style="FILTER:alpha(opacity=100,finishopacity=0,style=3)" width="80%" color=#987cb9 SIZE=3>
                    <% if(iscopyright){ %>
                        <span> 
                        本文标题: <%= page.title %> <br>
                        文章作者: <%= author %> <br>
                        发布时间:  {{moment(<%= publishTimestamp %>).format("YYYY-MM-DD HH:mm:ss")}}  <br>
                        最后更新:  {{moment(<%= upPublishTimestamp %>).format("YYYY-MM-DD HH:mm:ss")}} <br>
                        原始链接: <%= page_url %> <br>
                        许可协议: <a href='https://creativecommons.org/licenses/by-sa/4.0/)'>知识共享-署名-非商业性使用 4.0 国际</a> 转载请保留原文链接及作者。<a href='https://tdou.cc/cn/cc4_0.html'>CC许可协议</a> 
                    </span>
                        <%}%>
            </article>
        </div>

        <%- partial('_widget/google-adscene') %>

            <% if (config.gitalk ) { %>
                <%- partial('_widget/gitalk') %>
                    <% }else{ %>
                        <%- partial('_widget/disqus') %>
                            <% } %>