<%
var publishTimestamp = page.date.valueOf();
var upPublishTimestamp = page.updated.valueOf();
var author = page.author;
%>
    <div class="post-container container">
        <h3>
            <i class="fa fa-user-o"></i>
            <%= author || config.author || '' %>

                <span class="post-date float-right" title="Create: {{moment(<%= publishTimestamp %>).format('MMM DD, YYYY, h:mm:ss A')}}">
                   <i class="fa fa-pencil-square-o"></i>
                    Create: {{moment(<%= publishTimestamp %>).fromNow()}}&nbsp;&nbsp;&nbsp;&nbsp;
                </span>

                <span class="post-updated float-right" title="Update: {{moment(<%= upPublishTimestamp %>).format('MMMM Do YYYY, h:mm:ss a')}}">
                    <i class="fa fa-pencil-square-1"></i>
                    Updated: {{moment(<%= upPublishTimestamp %>).fromNow()}}&nbsp;&nbsp;&nbsp;&nbsp;
                </span>

        </h3>

        <article class="post-content">
            <h1>
                <%= page.title || 'Untitle' %>
            </h1>
            <%- page.content %>
        </article>
    </div>

    <% if (config.gitalk ) { %>
        <%- partial('_widget/gitalk') %>
            <% }else{ %>
                <%- partial('_widget/disqus') %>
                    <% } %>