<footer class="container clearfix">
  <ul class="social-link">
    <li>© 2016 <%= config.author%></li>
    <li><a href="<%=theme.url%>">Home</a></li>
    <li><a href="<%=theme.github%>">Github</a></li>
    <li><a href="<%=theme.weibo%>">Weibo</li>
    <li><a href="<%=theme.linkedin%>">Linkedin</a></li>
  </ul>
  <div class="theme-info">Theme <a
          href="https://github.com/sabrinaluo/hexo-theme-replica">Replica</a> by <a
          href="http://github.com/sabrinaluo">Hiitea</a> ❤ Powered by Hexo
  </div>
  <a href="<%= config.url %>" class="site-logo"><i class="fa fa-github"></i></a>
</footer>
