<header>
  <div class="row" style="border-bottom: 1px solid #f5f5f5;">
    <div class="col-sm-6 ">
      <h2 style="margin-bottom:0">
        <i class="fa fa-book text-muted"></i>
        <a href="<%= config.root %>"><%= config.title %></a>
      </h2>
      <p class="text-muted">
        <%= config.description %>
      </p>

    </div>
    <div class="col-sm-6 hidden-xs" style="padding-right:0">
      <div class="pull-right" style="line-height:73px;">
        <div class="btn-group btn-group-xs" role="group">
          <button type="button" class="btn info"><i class="fa fa-file-text"></i> Post</button>
          <button type="button" class="btn btn-default">
            <%= site.posts.length %>
          </button>
        </div>
        <div class="btn-group btn-group-xs" role="group">
          <button type="button" class="btn info"><i class="fa fa-tags"></i> Tag</button>
          <button type="button" class="btn btn-default">
            <%= site.tags.length %>
          </button>
        </div>
        <div class="btn-group btn-group-xs" role="group">
          <button type="button" class="btn info"><i class="fa fa-list-ul"></i> Category</button>
          <button type="button" class="btn btn-default">
            <%= site.categories.length %>
          </button>
        </div>
        <!--end btn-group-->

      </div>
    </div>
  </div>
</header>