<header>
  <h2>
    <i class="fa fa-book text-muted"></i>
    <a href="<%= config.root %>"><%= config.title %></a>
  </h2>
  <div class="header-btn">
    <div class="btn-group">
      <a class="btn btn-group-left"><i class="fa fa-file-text"></i> Post </a>
      <a href="/" class="btn btn-group-right"> <%= site.posts.length %> </a>
    </div>

    <div class="btn-group">
      <a class="btn btn-group-left"><i class="fa fa-tags"></i> Post </a>
      <a href="/" class="btn btn-group-right"> <%= site.tags.length %> </a>
    </div>

    <div class="btn-group">
      <a class="btn btn-group-left"><i class="fa fa-list-ul"></i> Post </a>
      <a href="/"
         class="btn btn-group-right"> <%= site.categories.length %> </a>
    </div>
  </div>
</header>
