<nav>
  <div class="container">
    <a href="<%= config.root %>" class="site-logo"><i class="fa fa-github"></i></a>
    <div class="site-search">
      <form onsubmit="return search()">
        <label class="form-control">
          <span class="scope-badge">This website</span>
          <input id="query" type="text" placeholder="Search" value="">
          <span class="scope-badge clear-search"> x </span>
        </label>
      </form>
    </div>
    <ul>
      <% if(theme.menu.archives){ %>
      <li><a href="<%= url_for(theme.archive_dir) %>">Archives</a></li>
      <% } %>
      <% if(theme.menu.categories){ %>
      <li><a href="<%= url_for(theme.category_dir) %>">Categories</a></li>
      <% } %>
      <% if(theme.menu.tags){ %>
      <li><a href="<%= url_for(theme.tag_dir) %>">Tags</a></li>
      <% } %>
      <li><a href="<%= url_for(theme.rss_dir) %>">RSS</a></li>
    </ul>
  </div>
</nav>
